<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/styles/styles.css" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>Vue Mastery</title>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      <h2>Cart: {{cart}}</h2>
      <a :href="url">vue mastery</a>
      <img :src="variant ? greenSocks : blueSocks" alt="socks" />
      <p v-if="onSale">In stock</p>
      <p v-else>Out of stock</p>
      <ul>
        <li v-for="size in sizes">{{size}}</li>
      </ul>
      <div
        v-for="color in colors"
        :key="color.id"
        @mouseover="changeColor(color)"
      >
        {{color.color}}
      </div>
      <button v-on:click="increment" :disabled="!onSale">Increment</button>
      <button @click="decrement">Decrement</button>
    </div>
    <script src="./main.js"></script>
    <script>
      const mountedApp = app.mount('#app');
    </script>
  </body>
</html>
